body {
margin: 0;
}

a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    background-color: black;
    padding: 8px 12px;
}

.navbar-menu { 
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar-menu li {
    padding: 8px 12px
}

.정보 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}